In [49]:
import pandas as pd

In [50]:
Presc = pd.read_csv("C:\\Users\\Afaq\\Documents\\Sample_Data\\Prescription.csv")
PM= pd.read_csv("C:\\Users\\Afaq\\Documents\\Sample_Data\\Pharm_mast.csv")

In [51]:
Presc = pd.DataFrame(Presc)
Presc = Presc.set_index(["PHARMACY_CODE"])
PM = pd.DataFrame(PM)
PM = PM.set_index(["PHARMACY_CODE"])

In [52]:
print(Presc)

                  RX_NUM  RES_CODE  DAYS_SUPPY          NDC
PHARMACY_CODE
1              1234566.1     12345          10  12345678911
1              1234567.1     12346          20  12345678912
2              1234568.1     12347          30  12345678913
2              1234569.1     12348          40  12345678913
5              1234570.1     12349          30  12345678915
5              1234571.1     12350          40  12345678916

In [53]:
print(PM)

              PHARMACY_NAME
PHARMACY_CODE
1                PHARMACY_1
2                PHARMACY_2
3                PHARMACY_3
4                PHARMACY_4

In [54]:
Joined = Presc.join(PM)

In [55]:
print(Joined)

                  RX_NUM  RES_CODE  DAYS_SUPPY          NDC PHARMACY_NAME
PHARMACY_CODE
1              1234566.1     12345          10  12345678911    PHARMACY_1
1              1234567.1     12346          20  12345678912    PHARMACY_1
2              1234568.1     12347          30  12345678913    PHARMACY_2
2              1234569.1     12348          40  12345678913    PHARMACY_2
5              1234570.1     12349          30  12345678915           NaN
5              1234571.1     12350          40  12345678916           NaN

In [81]:
Joined = Joined.fillna(0)

In [82]:
print(Joined)

                  RX_NUM  RES_CODE  DAYS_SUPPY          NDC PHARMACY_NAME
PHARMACY_CODE
1              1234566.1     12345          10  12345678911    PHARMACY_1
1              1234567.1     12346          20  12345678912    PHARMACY_1
2              1234568.1     12347          30  12345678913    PHARMACY_2
2              1234569.1     12348          40  12345678913    PHARMACY_2
5              1234570.1     12349          30  12345678915             0
5              1234571.1     12350          40  12345678916             0

In [86]:
Joined[1:]

                  RX_NUM  RES_CODE  DAYS_SUPPY          NDC PHARMACY_NAME
PHARMACY_CODE
1              1234567.1     12346          20  12345678912    PHARMACY_1
2              1234568.1     12347          30  12345678913    PHARMACY_2
2              1234569.1     12348          40  12345678913    PHARMACY_2
5              1234570.1     12349          30  12345678915             0
5              1234571.1     12350          40  12345678916             0

In [104]:
Joined.describe()

               RX_NUM      RES_CODE  DAYS_SUPPY           NDC
count        6.000000      6.000000    6.000000  6.000000e+00
mean   1234568.600000  12347.500000   28.333333  1.234568e+10
std          1.870829      1.870829   11.690452  1.861899e+00
min    1234566.100000  12345.000000   10.000000  1.234568e+10
25%    1234567.350000  12346.250000   22.500000  1.234568e+10
50%    1234568.600000  12347.500000   30.000000  1.234568e+10
75%    1234569.850000  12348.750000   37.500000  1.234568e+10
max    1234571.100000  12350.000000   40.000000  1.234568e+10

In [108]:
Joined.reset_index(inplace=True)

In [109]:
Joined.set_index('PHARMACY_CODE', inplace=True)

In [111]:
Joined

                  RX_NUM  RES_CODE  DAYS_SUPPY          NDC PHARMACY_NAME
PHARMACY_CODE
1              1234566.1     12345          10  12345678911    PHARMACY_1
1              1234567.1     12346          20  12345678912    PHARMACY_1
2              1234568.1     12347          30  12345678913    PHARMACY_2
2              1234569.1     12348          40  12345678913    PHARMACY_2
5              1234570.1     12349          30  12345678915             0
5              1234571.1     12350          40  12345678916             0

In [114]:
Joined.loc[1]

                  RX_NUM  RES_CODE  DAYS_SUPPY          NDC PHARMACY_NAME
PHARMACY_CODE
1              1234566.1     12345          10  12345678911    PHARMACY_1
1              1234567.1     12346          20  12345678912    PHARMACY_1

In [115]:
Joined

                  RX_NUM  RES_CODE  DAYS_SUPPY          NDC PHARMACY_NAME
PHARMACY_CODE
1              1234566.1     12345          10  12345678911    PHARMACY_1
1              1234567.1     12346          20  12345678912    PHARMACY_1
2              1234568.1     12347          30  12345678913    PHARMACY_2
2              1234569.1     12348          40  12345678913    PHARMACY_2
5              1234570.1     12349          30  12345678915             0
5              1234571.1     12350          40  12345678916             0

In [119]:
#print rows having DAYS_SUPPLY >=30
Joined[Joined['DAYS_SUPPY'] >= 30]

                  RX_NUM  RES_CODE  DAYS_SUPPY          NDC PHARMACY_NAME
PHARMACY_CODE
2              1234568.1     12347          30  12345678913    PHARMACY_2
2              1234569.1     12348          40  12345678913    PHARMACY_2
5              1234570.1     12349          30  12345678915             0
5              1234571.1     12350          40  12345678916             0

In [125]:
#print NDC numbers for the rows having Days_Suppy >=30
Joined[['NDC','DAYS_SUPPY']][Joined['DAYS_SUPPY'] >= 30]

                       NDC  DAYS_SUPPY
PHARMACY_CODE
2              12345678913          30
2              12345678913          40
5              12345678915          30
5              12345678916          40

In [127]:
Joined.shape

(6, 5)

In [128]:
#creating a python dictionary
Dict = {'Student_Roll_Num' : [1,2,3], 'Student_Name' : ['ABC','PQR','MNO'], 'Student_Age' : [20,21,23]}

In [129]:
Dict

{'Student_Age': [20, 21, 23],
 'Student_Name': ['ABC', 'PQR', 'MNO'],
 'Student_Roll_Num': [1, 2, 3]}

In [130]:
#converting dictionary to pandas DataFrame
df = pd.DataFrame(Dict)

In [131]:
df

   Student_Age Student_Name  Student_Roll_Num
0           20          ABC                 1
1           21          PQR                 2
2           23          MNO                 3