In [340]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier

In [341]:
iris = load_iris()

In [342]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [343]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'],
      dtype='<U10')

In [344]:
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

In [345]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [346]:
X = df[["sepal length (cm)", "sepal width (cm)", "petal length (cm)", "petal width (cm)"]]

In [347]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [348]:
y = df["species"]

In [349]:
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: category
Categories (3, object): [setosa, versicolor, virginica]

In [350]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (120, 4) (120,)
Test set: (30, 4) (30,)

In [351]:
y_train

[versicolor, setosa, setosa, versicolor, versicolor, ..., virginica, virginica, virginica, setosa, virginica]
Length: 120
Categories (3, object): [setosa, versicolor, virginica]

In [352]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()
encoder.fit(y_train)
encoder.classes_
y_train_encod = encoder.transform(y_train)

In [353]:
print(y_train_encod)

[1 0 0 1 1 1 1 0 1 2 2 0 2 2 1 1 2 0 2 0 1 2 1 0 1 2 2 0 1 0 1 0 0 1 0 1 1
 2 0 2 1 1 1 0 0 2 2 2 1 0 2 1 0 0 2 0 2 1 1 0 0 2 2 1 2 1 2 2 2 2 0 0 0 0
 2 0 2 1 2 1 0 2 0 0 1 2 2 1 2 1 1 1 2 1 1 1 1 0 1 2 0 2 2 0 2 1 1 2 0 0 0
 0 1 0 0 2 2 2 0 2]

In [354]:
encoder.classes_

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [355]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)
clf.fit(X_train, y_train_encod )

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [356]:
clf.predict(X_test)

array([0, 0, 0, 1, 0, 2, 2, 1, 0, 0, 1, 1, 0, 1, 2, 1, 1, 2, 1, 1, 0, 0, 2,
       1, 0, 0, 2, 2, 1, 2], dtype=int64)

In [357]:
model_result = encoder.classes_[clf.predict(X_test)]
model_result

array(['setosa', 'setosa', 'setosa', 'versicolor', 'setosa', 'virginica',
       'virginica', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'virginica', 'versicolor', 'virginica'], dtype=object)

In [358]:
y_test

[setosa, setosa, setosa, versicolor, setosa, ..., setosa, virginica, virginica, virginica, virginica]
Length: 30
Categories (3, object): [setosa, versicolor, virginica]

In [359]:
right = 0
for i in range(model_result.size):
    if model_result[i] == y_test[i]:
        right = right +1
print(right)

29